@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'DM Sans', sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: rgba(134, 134, 134, 0.15);
}
 
::-webkit-scrollbar-thumb {
  background: #193af5; 
}

::-webkit-scrollbar-thumb:hover {
  background: #3d5aff; 
}